[submodule "camping-reservations-ms"]
	path = camping-reservations-ms
	url = https://github.com/camping-rso/camping-reservations-ms
[submodule "camping-overview-ms"]
	path = camping-overview-ms
	url = https://github.com/camping-rso/camping-overview-ms
[submodule "camping-opinions-ms"]
	path = camping-opinions-ms
	url = https://github.com/camping-rso/camping-opinions-ms
[submodule "camping-images-ms"]
	path = camping-images-ms
	url = https://github.com/camping-rso/camping-images-ms
